/* Global - Typography */
body {
    background-color: rgb(12,12,12);
    color: rgb(240, 240, 240);
    font-family: 'Roboto Slab', Helvetica, Arial, serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.4;
}
.container {
    overflow: hidden;
}
body.overflow .container {
    height: 100%;
    overflow: auto;
}
body.full .container {
    margin-left: 50px;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, hr {
    font-size: inherit;
    line-height: inherit;
    margin: 0 0 10px 0;
    position: relative;
}
h1, h2, h3, h4, h5 {
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
p {
    color: rgb(180, 180, 180);
    font-size: 21px;
    line-height: 33.7px;
    margin: 1.3em 0 1.1em 0;
}
a {
    font-family: 'Varela Round', sans-serif;
    border: none;
    color: rgb(240, 240, 240);
    text-decoration: underline;
}
a:hover, a:focus {
    color: rgb(255, 255, 255);
    outline: none;
    transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -webkit-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
}
ul, ol {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

/* Global - Content */
.content-wrap, .content {
    height: 100%;
}
.content-wrap {
  border-top: 1px solid black;
}
.content-wrap .content {
  margin: 0 auto;
  width: 681px;
}
body.full .content-wrap .content {
  margin: 0;
  width: auto;
}

/* Global - Side Nav */
.side-nav {
  background-color: rgb(18,18,18);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  overflow: hidden;
}
.side-nav ul {
    width: 200px;
}
.side-nav li a {
    border-top: 1px rgb(24,24,24) solid;
    color: rgb(180, 180, 180);
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    padding-left: 50px;
    position: relative;
    text-decoration: none;
}
.side-nav li a:hover {
    border-top: 1px rgb(9,9,9) solid;
    color: rgb(210, 210, 210);
}
.side-nav li a.selected {
  color: #e3bc28;
}
.side-nav li:last-child a {
  border-bottom: 1px rgb(30,30,30) solid;
}

/* Global - Footer */
.page-footer {
    background-color: rgb(24,24,24);
    clear: both;
    color: rgb(210,210,210);
    font-size: 12px;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}
.page-footer a {
    color: rgb(255,255,255);
}


/* TO EDIT */
/*********************************
  Global: Layout
*/
html {
  height: 100%;
}
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container:before,
.container:after,
.columns:before,
.columns:after {
  content: " ";
  display: table;
}
.container:after,
.columns:after {
  clear: both;
}
.container,
.columns {
  *zoom: 1;
}
.columns {
  display: block;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.columns > div {
  display: block;
  float: left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 33%;
}
/* Global - Typography */
img {
  border: 0;
}
h1, h2 {
  font-size: 60px;
  line-height: 1em;
  margin-bottom: 20px;
  -webkit-font-feature-settings: "kern", "liga", "case";
  -moz-font-feature-settings: "kern=1", "liga=1", "case=1";
  -moz-font-feature-settings: "kern", "liga", "case";
  font-feature-settings: "kern", "liga", "case";
}
h1, h2, h6 {
  font-weight: 300;
}
h2 {
  font-size: 40px;
}
h3, h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
}
h4 {
  font-size: 16px;
  font-weight: 300;
}
h5, h6 {
  font-weight: 400;
  font-size: 14px;
}
hr {
  top: -7px;
  margin: -1px 0 20px 0;
  border: none;
  border-top: 1px #000 solid;
}
.lead-in {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
article ul {
  padding-left: 1em;
  margin-bottom: 1em;
}
article li {
  list-style: disc;
}
.page-title {
  margin-top: 100px;
}
@media screen and (max-width: 1160px) {
  .content-wrap .sidebar h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 890px) {
  .page-title {
    margin-top: 80px;
  }
  .content h1 {
    font-size: 50px;
    left: -2px;
    /* Optical left-edge alignment */
  }
  .content h2,
  .content .sidebar h3 {
    font-size: 36px;
    line-height: 1.2;
  }
  .content h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 740px) {
  .page-title {
    margin-top: 40px;
  }
  .content h1 {
    font-size: 34px;
    left: -2px;
    /* Optical left-edge alignment */
  }
  .content h2,
  .content .sidebar h3 {
    font-size: 30px;
    line-height: 1.2;
  }
  .lead-in {
    font-size: 18px;
    font-weight: 300;
  }
}
blockquote {
  font-style: italic;
}
/* Main Content Area */
.content-wrap .main-column {
  float: left;
  width: 630px;
}
.content-wrap .content.content-wide {
  width: 870px;
}
@media screen and (max-width: 1160px) {
  .content-wrap .content,
  .content-wrap .content.content-wide {
    width: 630px;
  }
  .content-wrap .main-column {
    float: none;
    width: auto;
  }
  .content-wrap .tertiary {
    display: none;
  }
}
@media screen and (max-width: 890px) {
  .content-wrap .content,
  .content-wrap .content.no-tertiary {
    width: 470px;
  }
  .content-wrap .sidebar {
    max-width: none;
    clear: left;
  }
}
@media screen and (max-width: 740px) {
  .content-wrap .content,
  .content-wrap .content.no-tertiary {
    width: auto;
    margin: 0 20px;
  }
}
.ie8 .content-wrap {
  width: auto;
  margin-left: 250px;
}
.ie8 .content-wrap .tertiary {
  display: none;
}

/*
  Page footer
*/
body {
  margin: 0;
  min-width: 100%;
  height: 100%;
  padding-left: 50px;
}
.ie8 body {
  padding-left: 0;
}
.content-wrap {
  -ms-transform: translate(150px, 0);
  -moz-transform: translate(150px, 0);
  -webkit-transform: translate3d(150px, 0, 0);
  transform: translate(150px, 0);
  -ms-transition: -ms-transform 0.28s ease-in-out;
  -moz-transition: -moz-transform 0.28s ease-in-out;
  -webkit-transition: -webkit-transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out;
}
.nav-collapsed .content-wrap {
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
}
@media screen and (max-width: 740px) {
  .content-wrap {
    -ms-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate(0px, 0);
  }
}
.pin-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 0;
}
.pin-content {
  margin: 0 auto;
  width: 870px;
  position: relative;
  left: -25px;
  -ms-transform: translate(150px, 0);
  -moz-transform: translate(150px, 0);
  -webkit-transform: translate3d(150px, 0, 0);
  transform: translate(150px, 0);
  -ms-transition: -ms-transform 0.28s ease-in-out;
  -moz-transition: -moz-transform 0.28s ease-in-out;
  -webkit-transition: -webkit-transform 0.28s ease-in-out;
  transition: transform 0.28s ease-in-out;
}
.no-touch .nav-collapsed .pin-content {
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
}
html.side-nav-always-open {
  padding-left: 200px;
}
html.side-nav-always-open body {
  padding-left: 0;
}
html.side-nav-always-open .content-wrap {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  -ms-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
@media screen and (max-width: 740px) {
  html.side-nav-always-open {
    padding-left: 0;
  }
}
.side-nav {
  cursor: default;
  color: #c8c8c8;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-transition: width ease-in-out 0.28s, background linear 0.1s;
  -webkit-transition: width ease-in-out 0.28s, background linear 0.1s;
  -o-transition: width ease-in-out 0.28s, background linear 0.1s;
  transition: width ease-in-out 0.28s, background linear 0.1s;
  -ms-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate(0px, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.logo {
  height: 50px;
}
.logo .logotype,
.logo .bug {
  background-image: url(../img/logo.png);
  width: 150px;
  height: 50px;
}
.logo .logotype {
  background-position: 0 -50px;
  opacity: 1.0;
  -moz-transition: opacity linear 0.28s;
  -webkit-transition: opacity linear 0.28s;
  -o-transition: opacity linear 0.28s;
  transition: opacity linear 0.28s;
}
.logo .bug {
  position: absolute;
  top: 0;
  left: 0;
}
.logo span {
  display: none;
}
.side-nav .logo {
  margin: 20px 0 30px 0;
}
.side-nav .logo a {
  display: block;
  position: absolute;
  right: 30px;
  -moz-transition: right ease-in-out 0.28s;
  -webkit-transition: right ease-in-out 0.28s;
  -o-transition: right ease-in-out 0.28s;
  transition: right ease-in-out 0.28s;
}
.nav-collapsed .side-nav .logo a {
  right: 6px;
}
.nav-collapsed .side-nav .logo .logotype {
  opacity: 0;
}
.ie8 .logo .logotype,
.ie8 .logo .bug {
  background-image: url(../img/logo.png);
}
.ie8 .side-nav .logo a {
  right: auto;
  left: 13px;
}
.side-nav h3 {
  width: 200px;
  margin: 45px 0 14px 15px;
  font-size: 14px;
  font-weight: 300;
  opacity: 1;
  -moz-transition: opacity ease-in-out 0.28s;
  -webkit-transition: opacity ease-in-out 0.28s;
  -o-transition: opacity ease-in-out 0.28s;
  transition: opacity ease-in-out 0.28s;
}
.side-nav .icon {
  display: block;
  position: absolute;
  top: 1px;
  left: 5px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  /* background-image: url(../img/nav-icons.png); */
  opacity: 0.4;
}
.side-nav li a.selected .icon {
  opacity: 1.0;
}
.side-nav .icon.team {
  background-position: -7px 0px !important;
}
.side-nav .selected .icon.team {
  background-position: -57px 0px !important;
}
.side-nav .icon.portfolio {
  background-position: -7px -40px !important;
}
.side-nav .selected .icon.portfolio {
  background-position: -57px -40px !important;
}
.side-nav .icon.about {
  background-position: -7px -80px !important;
}
.side-nav .selected .icon.about {
  background-position: -57px -80px !important;
}
.side-nav .icon.design {
  background-position: -7px -160px !important;
}
.side-nav .selected .icon.design {
  background-position: -57px -160px !important;
}
.side-nav .icon.recruiting {
  background-position: -7px -200px !important;
}
.side-nav .selected .icon.recruiting {
  background-position: -57px -200px !important;
}
.side-nav .icon.marketing {
  background-position: -7px -240px !important;
}
.side-nav .selected .icon.marketing {
  background-position: -57px -240px !important;
}
.side-nav .icon.engineering {
  background-position: -7px -280px !important;
}
.side-nav .selected .icon.engineering {
  background-position: -57px -280px !important;
}
.side-nav .icon.google-access {
  background-position: -7px -320px !important;
}
.side-nav .selected .icon.google-access {
  background-position: -57px -320px !important;
}
.side-nav .icon.library {
  background-position: -7px -360px !important;
}
.side-nav .selected .icon.library {
  background-position: -57px -360px !important;
}
.side-nav .icon.workshops {
  background-position: -7px -400px !important;
}
.side-nav .selected .icon.workshops {
  background-position: -57px -400px !important;
}
.side-nav .icon.product {
  background-position: -7px -440px !important;
}
.side-nav .selected .icon.product {
  background-position: -57px -440px !important;
}
.no-touch .side-nav li a:hover {
    background: rgb(12,12,12);
    transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
}
}
.ie8 .side-nav .icon {
  background: url(../images/icons/nav-icons.png);
}
.nav-collapsed .side-nav li a {
  background: transparent;
}
@media screen and (max-height: 670px) and (min-width: 740px) {
  .side-nav li a {
    line-height: 35px;
    font-size: 14px;
  }
  .side-nav .icon {
    top: -5px;
  }
}
.ie8 .side-nav li a {
  line-height: 35px;
  font-size: 14px;
}
.ie8 .side-nav .icon {
  top: -5px;
}
.nav-collapsed .side-nav {
  width: 50px;
}
.nav-collapsed .side-nav h3 {
  opacity: 0;
}
.logo.mobile {
  display: none;
  position: absolute;
  left: 10px;
  top: 10px;
}
.logo.mobile .logotype {
  top: 5px;
  background-position: 0 -100px;
}
@media screen and (max-width: 740px) {
  .side-nav {
    display: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .logo.mobile {
    display: block;
  }
  body {
    padding-left: 0;
  }
  .home .side-nav {
    display: block;
    position: relative;
    width: auto;
  }
  .home .side-nav .logo {
    display: none;
  }
  .home .side-nav ul {
    width: auto;
  }
  .home .side-nav li a {
    line-height: 53px;
  }
  .home .side-nav .icon {
    top: 4px;
  }
}
.top-nav {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 8px;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #eee;
  color: #777;
  font-size: 16px;
  font-weight: 300;
  z-index: 30;
}
.top-nav .left {
  position: absolute;
  left: 5px;
  z-index: 5;
}
.top-nav .btn {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  border: none;
  color: inherit;
  padding: 0 15px 0 35px;
  background-image: url(../images/back-button.png);
  background-position: top left;
  background-color: #fff;
  border-right: 1px #e0e0e0 solid;
}
.top-nav .btn-icon {
  display: block;
  position: absolute;
  top: 7px;
  left: 12px;
  width: 20px;
  height: 20px;
  background-size: 75px 75px;
}
.top-nav .title {
  margin: 0 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 32px;
}
@media screen and (max-width: 740px) {
  .content-wrap {
    padding-top: 49px;
  }
  .top-nav {
    display: block;
  }
  body.home .top-nav {
    display: none;
  }
}
/* Article */
article {
  min-height: 460px;
  margin-bottom: 100px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
article h1,
article h2,
article h3,
article h4 {
  text-transform: none;
  line-height: 1.2;
  font-size: 32px;
  font-weight: 300;
}
article h2 {
  font-size: 38px;
  font-weight: 300;
  margin-top: 48px;
}
article h3 {
  font-size: 32px;
  font-weight: 300;
  margin-top: 1.5em;
}
article h4 {
  font-size: 24px;
}
article p {
  margin-bottom: 15px;
}
article ul {
  padding: 0;
}
article li {
  list-style-type: square;
}
article hr {
  margin-top: 24px;
  border-color: #ebebeb;
}
article .article-image {
  max-height: 250px;
  overflow: hidden;
}
article .article-content {
  position: relative;
}
td {
  border: 1px solid #ddd;
  padding: 5px 10px;
  font-weight: inherit;
}
@media screen and (max-width: 740px) {
  article .article-content {
    padding-right: 0;
  }
  .library article aside {
    position: relative;
    width: auto;
  }
  h6 {
    margin-top: 25px;
  }
}
article footer {
  padding-top: 15px;
}